In [1]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [2]:
import mysql.connector

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000171A3FAE140>

In [4]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE mydatabase")

In [5]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)

In [7]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="mydatabase"
)
mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

In [8]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE student")

In [12]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="student"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE details (name VARCHAR(255), address VARCHAR(255),rollno VARCHAR(100),phno VARCHAR(10),Gender CHAR(2))")

In [19]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="student"
)

mycursor = mydb.cursor()

sql = "INSERT INTO details (name,address,rollno,phno,Gender) VALUES (%s, %s,%s,%s,%s)"
val =[
("John", "Highway 21","1","0987656789","m"),
("Jo", "Highway 22","2","09877756789","m"),
("Joseph", "Highway 23","3","0983656789","m")
]
mycursor.executemany(sql, val)
mydb.commit()

print(mycursor.rowcount, "record inserted.")

3 record inserted.

In [1]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="student"
)

mycursor = mydb.cursor()

sql = "DELETE FROM details WHERE rollno = '1'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

0 record(s) deleted